body{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
header{
  margin: none;
  padding: none;
  background-image: url(images/donation9.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.4);

}
header h1{
  margin: 0 auto;
  font-size: 45px;
  color: white;
  font-weight: blod;
  padding-top: 30vh;
  width: 45%;
  text-align: center;
}
header p{
  text-align: center;
  width: 50%;
  font-size: 18px;
  color: white;
  margin: 0 auto;
  padding: 1vh;
}
.donate-link a, .donateNow input{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: 600;
  background-image: linear-gradient(90deg, #ff6a00, #ff5200);
  padding: 10px 20px;
  border-radius: 8px;
}
nav h1, .ourPlan h1{
  position: sticky;
  margin: 0 auto;
  padding: 100px 0 20px 0;
  text-align: center;
  font-size: 45px;
  font-weight: blod;
}
nav p, .ourPlan p{
  text-align: center;
  width: 50%;
  margin: 0 auto;
}
nav ul{
  width: 60%;
  margin: 30px auto;
}
nav ul li{
  margin: 7px 17px;
  padding: 40px 0px;
  list-style: none;
  display: inline-block;
  width: calc(100%/7);
  background-color: lightgray;
  text-align: center;
  border-radius: 10px;
}
nav ul li a{
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: rgba(0,0,0,0.6);
}
nav ul li:hover{
  background-color: rgba(205, 0, 0, 0.2);
  color: orange;
  box-shadow: inset 0 0 0px 2000px rgba(250, 50, 10, 0.4);
}
nav form{
  width: 60%;
  margin: 0 auto;
}
nav form p input{
  text-align: center;
  border: none;
  font-size: 20px;
  margin-top: 20px;
}
nav form p input:focus{
  outline: none;
  border-style: none;
}
.allPlan{
  display: flex;
  margin: 0 auto;
  width: 80%;
}
.common{
  margin: 30px auto;
  padding: 20px 15px;
  width: calc(100% / 4);
  border-radius: 10px;
}
.common img{
  height: 53px;
  width: 53px;
}
.common h2{
  text-align: left;
  color: black;
  font-size: 25px;
  font-weight: bold;
}
.common p{
  margin: 0;
  padding: 0px;
  text-align: left;
  font-size: 16px;
}
.forFood{
  background-color: #add8e652;
}
.forShalter{
  background-color: #ffc0cb80;
}
.forEducation{
  background: #ffa50069;
}
.helpPeople{
  margin: 40px auto;
  display: flex;
  width: 80%;
}
.discription{
  width: 40%;
  margin: 40px 0px 40px 29px;
  margin-right: 8%;
}
.helpPeople img{
  width: 46.2%;
  border-radius: 10px;
  float: right;
}
